<div class="row">

    <div class="col-sm-6" *ngIf="clienteSelected">
      <div class="row">
        <div class="mr-auto">
          <app-titulo [titulo]="'Cód. Cliente: ' + clienteSelected.id"></app-titulo>
        </div>
        <div class="mt-1">
          <button class="btn btn-sm btn-outline-danger" (click)="voltar()">
            Fechar
          </button>
        </div>
      </div>
  
      <form [formGroup]="clienteForm" (submit)="clienteSubmit()">
        <div class="form-group">
          <label for="formGroupExampleInput">Nome</label>
          <input type="text" formControlName="nome" class="form-control">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Login</label>
          <input type="text" formControlName="login"  class="form-control">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Senha</label>
          <input type="password" formControlName="senha"  class="form-control">
        </div>
        <div class="form-group">
          <hr>
          <button class="btn btn-success" [disabled]="!clienteForm.valid">Enviar</button>
        </div>
      </form>
    </div>
  

      <div class="col-sm-6" *ngIf="addCliente">
        <div class="row">
          <div class="mr-auto">
            <h1>Adicionar Cliente</h1>
          </div>
        </div>
    
        <form [formGroup]="clienteForm" (submit)="clienteAdd()">
          <div class="form-group">
            <label for="formGroupExampleInput">Nome</label>
            <input type="text" formControlName="nome" class="form-control">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Login</label>
            <input type="text" formControlName="login"  class="form-control">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Senha</label>
            <input type="text" formControlName="senha"  class="form-control">
          </div>
          <div class="form-group">
              <div class="row align-items-center">
                <div class="col-sm-6">
                  <button class="btn btn-success" [disabled]="!clienteForm.valid">Enviar</button>
                </div>
                <div class="col-sm-6">
                  <button class="btn btn-sm btn-danger" (click)="voltarAdd()">
                      Fechar
                  </button>
                </div>
              </div>
          </div>
        </form>
      </div>
      <div [ngClass]="{'col-sm-6': clienteSelected, 'col-sm-12': !clienteSelected}">
    <div *ngIf="!addCliente">

      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-6">
          <app-titulo [titulo]="titulo"></app-titulo>
          </div>
          <div class="col-sm-6 align-items-center">
          <button type="button" class="col-sm-3 btn btn-info" (click)="addClienteTela()">Adicionar Cliente</button>
          </div>
        </div>
      </div>
      
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th scope="col">Visualizar</th>
            <th scope="col">Nome</th>
            <th scope="col">Login</th>
            <th scope="col">Excluir</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td><button (click)="clienteSelect(cliente)"
              class="text-dark btn btn-sm btn-outline-warning">Detalhe</button></td>
            <td>{{cliente.nome}}</td>
            <td>{{cliente.login}}</td>
            <td>
              <div class="btn-group">
                <button (click)="clienteDelete(cliente)" class="btn btn-sm btn-outline-danger">Excluir</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  </div>
  
 